Client/node_modules/
Client/public/

.env
*.log
.DS_Store
dist/
Server/package-lock.json
*.env
npm-debug.log*
*.tgz
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/
*.sublime-workspace
Server/node_modules/
